nav
    display: flex
    flex-direction: row
    justify-content: space-between 
    align-content: flex-start
    background-color: #91c4f2

nav * 
    padding: 12px
    text-align: center
    text-justify: center
    
.logo
    font-weight: 600
    font-size: 2em
    padding: 8px
    