<h2>Restaurants</h2>

<div id="flexbox" *ngIf="allRestaurants">
    <span *ngFor="let restaurant of allRestaurants">
        <h3>{{restaurant.name}}</h3>
        <p>{{restaurant.neighbourhood}}</p>
        <p>{{restaurant.cuisine_type}}</p>

        <h5> operating hours </h5>
        <p> Monday {{restaurant.operating_hours.Monday}}</p>
        <p> Tuesday {{restaurant.operating_hours.Tuesday}}</p>
        <p> Wednesday {{restaurant.operating_hours.Wednesday}}</p>
        <p> Thursday {{restaurant.operating_hours.Thursday}}</p>
        <p> Friday {{restaurant.operating_hours.Friday}}</p>
        <p> Saturday {{restaurant.operating_hours.Saturday}}</p>
        <p> Sunday {{restaurant.operating_hours.Sunday}}</p>
    </span>
</div>