<h1>Restaurants</h1>

<h2>Filter by:</h2>
<! --type -->
<label for="type"> type </label>
<select [(ngModel)]="type" name="type" required>
    <option value="American">American</option>
    <option value="Pizza">Pizza</option>
    <option value="Asian">Asian</option>
    <option value="Mexican">Mexican</option>
</select>

<button (click)="getByType()">get By Type</button>

<! --neighborhood -->
<label for="neighborhood"> neighborhood </label>
<select [(ngModel)]="neighborhood" name="type" required>
    <option value="Manhattan">Manhattan</option>
    <option value="Brooklyn">Brooklyn</option>
    <option value="Queens">Queens</option>
</select>

<button (click)="getByNeighborhood()">get By Neighborhood</button>
<button (click)="resetFilter()">Reset Filters</button>

<h2>Sort</h2>
<button (click)="ascending()">A-Z</button>
<button (click)="descending()">Z-A</button>

<div id="grid">

    <div id="flexbox" *ngIf="allRestaurants">
        <span *ngFor="let restaurant of allRestaurants" (click)="openRestaurant(restaurant)">
            <p class="title">{{restaurant.name}}</p>
            <p>{{restaurant.neighborhood}}</p>
            <p>{{restaurant.cuisine_type}}</p>
        </span>
    </div>

    <div id="clickedRestaurant" *ngIf="currentSelection">
        <h2>{{currentSelection.name}}</h2>
        <p>{{currentSelection.neighborhood}}</p>
        <p>{{currentSelection.cuisine_type}}</p>

        <img src="assets/{{currentSelection.photograph}}" alt="{{currentSelection.name}}">

        <h5> opening hours </h5>

        <p> Monday {{currentSelection.operating_hours.Monday}}</p>
        <p> Tuesday {{currentSelection.operating_hours.Tuesday}}</p>
        <p> Wednesday {{currentSelection.operating_hours.Wednesday}}</p>
        <p> Thursday {{currentSelection.operating_hours.Thursday}}</p>
        <p> Friday {{currentSelection.operating_hours.Friday}}</p>
        <p> Saturday {{currentSelection.operating_hours.Saturday}}</p>
        <p> Sunday {{currentSelection.operating_hours.Sunday}}</p>

        <h3>Address</h3>
        <p>{{currentSelection.address}}</p>

        <h3>Reviews</h3>
        <div *ngFor="let review of currentSelection.reviews" id="aReview">
            <h2>{{ review.name }} </h2>
            <p>rating: {{review.rating}}</p>

            <p> {{review.comments}} <br /> ({{review.date}})</p>
        </div>

        <h3>Add a new review</h3>

        <form (submit)="onReviewSubmit()">
            <label for="comments"> Comments: </label>
            <input type="text" name="comments" [(ngModel)]="comments" required>
            <br />
            <label for="rating"> rating </label>
            <select [(ngModel)]="rating" name="rating" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br />
            <button type="submit">Submit</button>
        </form>
    </div>

</div>